
@{
    ViewBag.Title = "AddPost";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="~/Content/Css/Summernote/summernote.css" rel="stylesheet" />
<script src="~/Scripts/summernote.min.js"></script>



<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Yazı Bilgileri
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        @*Post metodu ile Controller'daki HttpPost metoduna gider*@
                        <form role="form" method="post">


                            @*submite basınca post olur*@
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Başlık" name="Title" required>
                            </div>                         
                            <div class="form-group">
                                @*Content*@
                                @*<textarea class="form-control" placeholder="İçerik" name="" rows="5"></textarea>*@

                                <textarea id="summernote" name="Content"></textarea>
                            </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Kategori" name="Category" required>
                                </div>                            
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="C# , Asp.Net , Microsoft" name="Text" required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Yayınla</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#summernote').summernote({
            height: 300,                
        });
    });
</script>