
@{
    ViewBag.Title = "Add";
}

<form role="form" method="post">
    <input type="text" name="CategoryName" placeholder="Kategori İsmi" class="form-control" />
    <input type="submit" value="Gönder" class="form-control" />
</form>